[user]
	name = ebosi38051
	email = ebosi38051@gmail.com
[alias]
	st = status
	lg = log --oneline --graph --decorate
	co = checkout
	fixup = !GIT_EDITOR=: git rebase -i --autosquash
[color]
	ui = true
[core]
	editor = vim
	excludesfile = /home/isobe/.gitignore_global
	autocrlf = input
